/* Page "Tours" */
.tour-view .item {
    width: 100%;
}

.tour-search select {
    cursor: pointer;
}

.c-supplierProfile__item {
    margin-bottom: 30px;
}

.c-supplierOrders__content {
    width: 100%;
    border: 1px solid #B3B4AB;
    border-radius: 4px;
    font-family: GothamPro, "Open Sans", sans-serif;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-supplierOrders__info {
    width: 65%;
    border-right: 1px solid #B3B4AB;
    padding: 15px;
}

.c-supplierOrders__priceBlock {
    width: 14%;
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.c-supplierOrders__approveBlock {
    width: 5%;
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.c-supplierOrders__editBlock {
    width: 11%;
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.c-supplierOrders__categoryTitle {
    font-size: 16px;
    font-weight: 700;
}

.c-supplierOrders__title {
    color: #005096;
    font-weight: 700;
    font-size: 18px;
}

.c-supplierOrders__text {
    margin-top: 5px;
}

.c-supplierOrders__priceText {
    font-weight: 700;
    font-size: 18px;
}

.c-supplierOrders__price {
    color: #00e2ff;
    font-weight: 700;
    font-size: 20px;
}

.glyphicon {
    color: #005096;
    font-size: 20px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.glyphicon:hover {
    color: #00e2ff;
}

.glyphicon.glyphicon-remove-sign:hover {
    color: #FF0000;
}

.c-supplierOrders__edit {
    display: block;
    color: #005096;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.c-supplierOrders__edit:hover {
    color: #00e2ff;
}

.sorter li {
    display: inline-block;
}

.sorter a {
    font-family: GothamPro, "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #005096;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.sorter a:hover {
    color: #00e2ff;
    text-decoration: none;
}

.sorter:before {
    content: 'Sort by:';
    display: inline-block;
    margin-right: 1em;
    font-family: GothamPro,"Open Sans",sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7c7c7c;
}

/* Page "Orders" */
.glyphicon.glyphicon-calendar, .glyphicon.glyphicon-remove {
    font-size: 18px;
}

/* Page "Suppliers" */
.adminSupplier__img {
    width: 300px;
    border: 3px solid #ffffff;
    margin: 0 14px;
}

.adminSupplier__details {
    font-size: 14px;
    color: #005096;
    font-weight: 700;
}

/* Main Page */
.adminMain__title {
    color: white;
    background: url('/img/action/locationBg.jpg') no-repeat center -170px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
}

.adminMain__text {
    color: #005096;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

/* Static Pages */
.adminPages__block {
    border: 1px solid #B3B4AB;
    border-radius: 4px;
    margin-bottom: 25px;
    padding-right: 0 !important;
}

.adminPages__text {
    display: inline-block;
    line-height: 34px;
}

.adminPages__text p {
    margin: 0;
}

.adminPages__buttonWrap {
    display: inline-block;
    float: right;
}

.adminPages__buttonWrap .btn {
    padding: 6px 35px;
}

.adminPages__textarea {
    display: block;
    width: 100%;
    min-height: 175px;
}

/* Page "Users" */
.adminUsers__roles .glyphicon {
    margin: 0 10px;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProRegular/GothamProRegular.eot);src:url(../../fonts/GothamProRegular/GothamProRegular.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProRegular/GothamProRegular.woff) format("woff"),url(../../fonts/GothamProRegular/GothamProRegular.ttf) format("truetype");font-style:normal;font-weight:400;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProLight/GothamProLight.eot);src:url(../../fonts/GothamProLight/GothamProLight.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProLight/GothamProLight.woff) format("woff"),url(../../fonts/GothamProLight/GothamProLight.ttf) format("truetype");font-style:normal;font-weight:300;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProMedium/GothamProMedium.eot);src:url(../../fonts/GothamProMedium/GothamProMedium.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProMedium/GothamProMedium.woff) format("woff"),url(../../fonts/GothamProMedium/GothamProMedium.ttf) format("truetype");font-style:normal;font-weight:600;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProBold/GothamProBold.eot);src:url(../../fonts/GothamProBold/GothamProBold.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBold/GothamProBold.woff) format("woff"),url(../../fonts/GothamProBold/GothamProBold.ttf) format("truetype");font-style:normal;font-weight:700;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProBlack/GothamProBlack.eot);src:url(../../fonts/GothamProBlack/GothamProBlack.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBlack/GothamProBlack.woff) format("woff"),url(../../fonts/GothamProBlack/GothamProBlack.ttf) format("truetype");font-style:normal;font-weight:800;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProItalic/GothamProItalic.eot);src:url(../../fonts/GothamProItalic/GothamProItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProItalic/GothamProItalic.woff) format("woff"),url(../../fonts/GothamProItalic/GothamProItalic.ttf) format("truetype");font-style:italic;font-weight:400;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.eot);src:url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.woff) format("woff"),url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf) format("truetype");font-style:italic;font-weight:600;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProLightItalic/GothamProLightItalic.eot);src:url(../../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProLightItalic/GothamProLightItalic.woff) format("woff"),url(../../fonts/GothamProLightItalic/GothamProLightItalic.ttf) format("truetype");font-style:italic;font-weight:300;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.eot);src:url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.woff) format("woff"),url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf) format("truetype");font-style:italic;font-weight:700;
}

@font-face {
    font-family:GothamPro;src:url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.eot);src:url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.woff) format("woff"),url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf) format("truetype");font-style:italic;font-weight:800;
}
