.c-tour__body,.c-tour__header {
    border: 1px solid #00bcd4;
    float: left;
}

.c-tour {
    font-size: 1rem;
}

.c-tour__content {
    height: 13.025em;
}

.c-tour__header {
    height: 100%;
    width: 30%;
    position: relative;
}

.c-tour__img {
    width: 100%;
    min-width: 16.4375em;
    height: 100%;
    display: inline-block;
}

.c-tour__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: bottom,0,100% #00deff;
    opacity: .2;
    -webkit-transition: opacity .2s linear .1s,bottom .3s linear .1s;
    transition: opacity .2s linear .1s,bottom .3s linear .1s;
}

.c-tour__like {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.c-tour__like:hover, .c-tour__like.active  {
    stroke: #ffffff;
}

.c-tour__likePath {
    fill: transparent;
    stroke: #00e2ff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all .1s ease-out;
}

.c-tour__likePath--line {
    fill: #00e2ff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all .1s ease-out;
}

.c-tour__like.active .c-tour__likePath--line {
    fill: #ffffff;
}

.c-tour__like.active .c-tour__likePath {
    fill: #00e2ff;
}

.c-tour__like:hover .c-tour__likePath {
    fill: #00e2ff;
}

.c-tour__body {
    height: 100%;
    padding: 1%;
    width: 47%;
    position: relative;
    border-right: 0;
    border-left: 0;
}

.c-tour__head {
    font-family: GothamPro, "Open Sans", sans-serif;
    margin-bottom: 10px;
    color: #005096;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.333;
    outline: none;
    text-decoration: none;
}

.c-tour__head a {
    text-decoration: none;
    color: #005096;
}

.c-tour__text {
    font-family: GothamPro, "Open Sans", sans-serif;
    color: #005096;
    font-size: 1em;
    line-height: 1.1;
    margin-top: 10px;
}

.c-tour__text--lightColor {
    font-size: 1em;
    color: #00bcd4;
}

.c-tour__readMore {
    color: #00bcd4;
    text-decoration: none;
}

.c-tour__info {
    width: 95%;
    position: absolute;
    bottom: 7.5%;
}

.c-tour__leftPart {
    float: left;
}

.c-tour__rightPart {
    float: right;
}

.c-tour__footer {
    height: 100%;
    width: 23%;
    padding: .875em;
    position: relative;
    float: left;
    border: 1px solid #00bcd4;
    text-align: center;
}

.c-tour__price {
    color: #005096;
    font-size: 1.286em;
    font-weight: 700;
}

.c-tour__bookBlock {
    margin-top: 1.3125em;
}

.c-tour__book {
    color: #00bcd4;
    font-size: 2em;
    font-weight: 700;
}

.c-tour__buttonWrap {
    margin-top: .75em;
}

.c-tour__close {
    position: absolute;
    right: 7.5%;
    top: 7.5%;
}

.c-tour__icon {
    width: 100%;
    max-width: 1em;
    max-height: 1em;
    display: inline-block;
    fill: #7c7c7c;
}

.c-time {
    font-size: 1rem;
    color: #00bcd4;
}

.c-time__clock,.c-time__text {
    font-family: GothamPro, "Open Sans", sans-serif;
    font-size: 14px;
    display: inline-block;
}

.c-time__img {
    display: inline-block;
    text-align: center;
}

.c-time__icon {
    width: 100%;
    max-width: 1em;
    max-height: 1em;
    display: inline-block;
    vertical-align: middle;
    fill: #00bcd4;
}

.c-time__clock {
    font-weight: 700;
}

.c-rating {
    font-size: 12px;
}

.c-rating__stars {
    display: inline-block;
    margin: 0 .25em;
}

.c-rating__star {
    display: inline-block;
    text-align: center;
    margin: 0 2px;
}

.c-rating__icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    -webkit-transition: all .2s linear .1s;
    transition: all .2s linear .1s;
}

.c-rating__leftInner.is-active {
    fill: #00bcd4;
}

.c-rating__leftInner--transparent.is-active {
    fill: #fff;
}

.c-rating__leftBorder.is-active {
    fill: #00bcd4;
}

.c-rating__leftBorder--transparent.is-active {
    fill: #fff;
}

.c-rating__rightInner.is-active {
    fill: #00bcd4;
}

.c-rating__rightInner--transparent.is-active {
    fill: #fff;
}

.c-rating__rightBorder.is-active {
    fill: #00bcd4;
}

.c-rating__rightBorder--transparent.is-active {
    fill: #fff;
}

.c-rating__value {
    display: inline-block;
    color: #7c7c7c;
    font-size: 14px;
}

.c-rating--whiteEmptyStar .c-rating__leftInner.is-active {
    fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__leftBorder.is-active {
    fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightInner.is-active {
    fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightBorder.is-active {
    fill: #00bcd4;
}