.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0;
}

.ui-widget-content {
    border: none;
    background: #ffffff;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 17px;
}

.ui-tabs {
    padding: 0;
}

.ui-widget button {
    font-size: 14px;
}

.ui-tabs .ui-tabs-nav {
    padding: 0;
    border: none;
    background: none;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin: 0;
    padding: 0;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    display: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: #ffffff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    background: #ffffff;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: none;
    padding: 11px 0;
    font-family: GothamPro, "Open Sans", sans-serif;
    line-height: 1;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #bababa;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 14px;
    font-family: GothamPro, "Open Sans", sans-serif;
}

/*///////////////// Reviews tabs styles //////////////// */

.c-tabs--reviews .ui-tabs-nav {
    margin-bottom: 100px;
}

.c-tabs--reviews .ui-tabs-panel {
    padding: 0;
}

.c-tabs--reviews .ui-widget-content a {
    color: #005096;
}

.c-tabs--reviews .ui-widget-content a.c-tour__readMore {
    color: #00bcd4;
}
.c-tabs__tab.ui-state-active .c-tabs__link {
    color: #fff;
    background-color: #00bcd4;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 11px 37px;
}