.c-basket__counter,.c-basket__icon,.c-basket__img,.c-basket__number,.l-header__currency,.l-header__img,.l-header__imgs,.l-header__tool,.l-header__tools,.l-header__user {
  display: inline-block;
}

.c-headerLink:active,.c-headerLink:focus,.c-headerLink:hover,.c-headerLink__link,.c-social__link {
  text-decoration: none;
}

.l-header {
  background: #fff;
  font-size: 1rem;
  padding: 0 3.125em;
}

.l-header__leftPart {
  float: left;
}

.l-header__rightPart {
  padding: 2em 0;
  float: right;
}

.l-header__logo {
  padding-top: .125em;
}

.l-header__tool:not(:last-child) {
  margin-right: 3.5em;
}

.l-header__tool:nth-child(2) {
  margin-right: 4.8em;
}

.l-header__tool:last-child {
  margin-right: 2.75em;
}

.l-header__imgs {
  margin: 0 2.75em 0 0;
}

.l-header__img {
  margin: 0 1.5em;
}

.l-header__img:last-child {
  margin-right: 0;
}

.l-header__basket {
  display: inline-block;
}

.l-header__user {
  margin-left: 1em;
}

.l-header__currency .select2-container--default .select2-selection--single {
  border: none;
}

.l-header__currency .select2-container .select2-selection--single .select2-selection__rendered {
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 0;
}

.l-header__currency .select2-container--open .select2-dropdown--below {
  position: absolute;
}

.c-basket {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.c-basket:hover .c-basket__icon {
  fill: #00bcd4;
}

.c-basket__icon,.c-headerIcon__icon {
  width: 18px;
  height: 18px;
  fill: #7c7c7c;
  -webkit-transition: fill .2s linear .1s;
  vertical-align: middle;
}


.c-basket:hover .c-basket__counter {
  background: #00bcd4;
}

.c-basket:hover .c-basket__number {
  color: #fff;
}

.c-basket__img {
  text-align: center;
}

.c-basket__icon {
  transition: fill .2s linear .1s;
}

.c-basket__counter {
  width: 1.75em;
  height: 1.75em;
  background: 0 0;
  line-height: 1.65em;
  border: 1px solid #00bcd4;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: background .2s linear .1s;
  transition: background .2s linear .1s;
}

.c-basket__number {
  color: #7c7c7c;
  font-size: .875em;
  -webkit-transition: color .1s linear .1s;
  transition: color .1s linear .1s;
}

.c-headerIcon__link {
  display: block;
  position: relative;
  text-align: center;
}

.c-headerIcon__icon {
  display: inline-block;
  transition: fill .2s linear .1s;
}

.c-headerIcon__icon--watch {
  height: 23px;
  width: 23px;
}

.c-headerIcon--watch .c-headerIcon__counter {
  right: -7px;
  top: -5px;
}

.c-headerIcon__link:hover .c-headerIcon__icon {
  fill: #00bcd4;
}

.c-headerIcon__link:hover .c-headerIcon__counter {
  background: #00bcd4;
  color: #ffffff;
}

.c-headerIcon__counter {
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  top: -8px;
  right: -10px;
  z-index: 5;
  border: 1px solid #00bcd4;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 1em;
  color: #7c7c7c;
  font-size: .875em;
  -webkit-transition: all .1s linear .1s;
  transition: all .1s linear .1s;
}

.c-headerLink {
  font-size: 1rem;
}

.c-headerLink__link {
  display: block;
  color: #7c7c7c;
}

.c-headerLink__content,.c-headerLink__icon,.c-headerLink__img {
  display: inline-block;
}

.c-headerLink__img {
  vertical-align: middle;
  text-align: center;
}

.c-headerLink__icon {
  width: 100%;
  max-width: 1.875em;
  max-height: 1.75em;
}

.c-headerLink__icon__content {
  fill: #7c7c7c;
  -webkit-transition: fill .2s linear .1s;
  transition: fill .2s linear .1s;
}

.c-headerLink__icon__circle {
  fill: transparent;
  stroke: #00bcd4;
  -webkit-transition: fill .2s linear .1s,stroke .3s linear .1s;
  transition: fill .2s linear .1s,stroke .3s linear .1s;
}

.c-headerLink__text,.c-headerLink__text--simpleText {
  color: #7c7c7c;
  font-size: .857em;
  -webkit-transition: color .1s linear .1s;
  transition: color .1s linear .1s;
}

.c-logo,.c-logo__link {
  font-size: 1rem;
}

.c-headerLink__text--simpleText {
  border: 1px solid #00bcd4;
  padding: .571em .786em;
}

.c-headerLink__link:hover .c-headerLink__text,.c-headerLink__link:hover .c-headerLink__text--simpleText {
  color: #00bcd4;
}

.c-headerLink__link:hover .c-headerLink__icon__content {
  fill: #00bcd4;
}

.c-headerLink__link:hover .c-headerLink__icon__circle {
  stroke: #00bcd4;
}

.c-logo {
  width: 100%;
  height: 100%;
}

.c-logo__link {
  height: 100%;
  display: block;
  position: relative;
}

.c-logo__link--footer {
  display: inline;
}

.c-logo__link--header {
  width: 10em;
}

.c-logo__img {
  width: 100%;
  max-width: 6em;
  max-height: 6em;
}

.c-logo__img--footer {
  max-width: 8em;
  max-height: 8em;
}

.c-logo__img--header {
  max-width: 10em;
  max-height: 11em;
  position: relative;
  z-index: 10;
  font-size: 1rem;
}

.c-social {
  width: 100%;
  height: 100%;
}

.c-social__link {
  width: 100%;
  display: block;
  text-align: center;
}

.c-social__link:hover .c-social__icon {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.c-social__link:hover .c-social__icon--pinterest {
  fill: #cb2027;
}

.c-social__link:hover .c-social__icon--youTube {
  fill: #b00;
}

.c-social__link:hover .c-social__icon--googlePlus {
  fill: #dd4b39;
}

.c-social__link:hover .c-social__icon--facebook {
  fill: #3b5998;
}

.c-social__link:hover .c-social__icon--twitter {
  fill: #00aced;
}

.c-social__link:hover .c-social__icon--instagram {
  fill: #000;
}

.c-social__link:hover .c-social__icon--vimeo {
  fill: #1ab7ea;
}

.c-social__icon {
  width: 100%;
  max-width: 1.214em;
  max-height: 1.214em;
  display: inline-block;
  vertical-align: middle;
  fill: silver;
  -webkit-transition: fill .4s linear .1s,-webkit-transform .2s linear .1s;
  transition: fill .4s linear .1s,-webkit-transform .2s linear .1s;
  transition: transform .2s linear .1s,fill .4s linear .1s;
  transition: transform .2s linear .1s,fill .4s linear .1s,-webkit-transform .2s linear .1s;
}

.c-user--header {
  position: relative;
}

.c-user__img--header {
  width: 1.875em;
  height: 1.875em;
}

div .c-user__name--header {
  display: inline-block;
  color: #7c7c7c;
  font-size: .857em;
  font-weight: 400;
  text-align: right;
  width: 5em;
  max-height: 1.875em;
}

div .c-user__photo--header {
  width: 1.875em;
  height: 1.875em;
  display: inline-block;
  margin-left: .5em;
  vertical-align: top;
}

/*# sourceMappingURL=header.css.map */
