.c-user {
    font-size: 1rem;
}

.c-user__controller,.c-user__message,.c-user__text {
    text-decoration: none;
}

.c-user__photo {
    position: relative;
}

.c-user__info {
    padding-top: .5em;
    border: 1px solid #e8e8e8;
}

.c-user__photo {
    width: 8.3125em;
    height: 8.3125em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.c-user_img {
    width: 8.3125em;
    height: 8.3125em;
}

.c-user__photo:hover .c-user__bg {
    top: 0;
}

.c-user__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    background: url(/img/icon/photo.svg) center center no-repeat #000;
    background-size: 60%;
    opacity: .75;
    -webkit-transition: top .3s linear .1s;
    transition: top .3s linear .1s;
}

.c-user__img {
    max-width: 8.3125em;
    max-height: 8.3125em;
}

.c-user__name {
    margin: .75em 0 1.125em;
    color: #005096;
    font-size: 1.714em;
    text-align: center;
}

.c-user__message {
    width: 1.75em;
    height: 1.75em;
    display: block;
    position: absolute;
    top: -.75em;
    right: -.75em;
    background: #00bcd4;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: .75em;
    text-align: center;
    line-height: 1.5em;
    -webkit-transition: background .2s linear .1s,color .3s linear .1s;
    transition: background .2s linear .1s,color .3s linear .1s;
}

.c-user__list {
    padding: 8px 20px;
    line-height: 0;
    background: #f8f8f8;
}

.c-user__item {
    margin: 0 .75em;
}

.c-user__counter {
    line-height: 1.4;
    color: #005096;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.c-user__counter--small {
    position: relative;
    display: inline-block;
    color: #005096;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 9px;
    margin-left: 5px;
}

.c-user__counter--small:before {
    content: "+";
}

.c-user__counterBg {
    background: bottom,0,100% #000;
    opacity: .1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px;
    border-radius: 23%;
    width: 100%;
    height: 100%;
}

.c-user__description {
    line-height: 1.4;
    color: #005096;
    font-size: .75em;
    text-align: center;
}

.c-user__controllers {
    margin: 1em 0 0;
}

.c-user__controller {
    padding: .875em;
    display: block;
    border: 1px solid #e8e8e8;
    background: 0 0;
    cursor: pointer;
    outline: 0;
}

.c-user__controller:not(:first-child) {
    border-top: none;
}

.c-user__controller:hover {
    background: #00bcd4;
}

.c-user__controller:hover .c-user__icon {
    fill: #fff;
}

.c-user__controller:hover .c-user__counter--small,.c-user__controller:hover .c-user__text {
    color: #fff;
}

.c-user__controller.is-active {
    background: #f8f8f8;
    cursor: unset;
    pointer-events: none;
}

.c-user__controller.is-active .c-user__icon {
    fill: #005096;
}

.c-user__controller.is-active .c-user__counter--small,.c-user__controller.is-active .c-user__text {
    color: #005096;
    font-weight: 700;
}

.c-user__icon {
    max-width: 1.071em;
    max-height: 1.071em;
    display: inline-block;
    vertical-align: text-top;
    fill: #7c7c7c;
}

.c-user__text {
    display: inline-block;
    margin: 0 0 0 .75em;
    color: #7c7c7c;
    font-size: 1em;
}

.l-profilePage {
    font-size: 1rem;
    margin-top: 2.714em;
}

.l-profilePage__content {
    padding: 0 0 2.4375em;
}

.l-profilePage__head {
    color: #005096;
    font-size: 1.5em;
    font-weight: 700;
}

.l-profilePage__title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
}

.l-profilePage__block,.l-profilePage__blockSettings {
    margin-top: 30px;
}

.l-profilePage__blockSettings {
    margin-left: 15px;
    margin-top: 0;
}

.l-profilePage__leftPart {
    max-width: 24%;
    width: 100%;
    float: left;
}

.l-profilePage__rightPart {
    max-width: 74.16%;
    width: 100%;
    float: right;
}