.c-tourForm {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.l-addTour__helpText {
  font-size: 14px;
  text-align: center;
}

.l-addTour {
  margin-bottom: 180px;
}

.l-addTour__helpText {
  margin: 28px 0 64px;
  color: #383838;
}

.l-addTour__applyBlock {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.l-addTour__text {
  color: #383838;
  line-height: 1.6;
  margin-bottom: 65px;
}

.c-tourForm {
  margin-top: 10px;
  border-top: 1px solid #e8e8e8;
  padding: 50px 20px;
  font-size: 14px;
}

.c-tourForm:last-child {
  border-bottom: 1px solid #e8e8e8;
}

.c-tourForm__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.c-tourForm__leftSide {
  width: 45%;
}

.c-tourForm__rightSide {
  width: 55%;
}

.c-tourForm__title {
  color: #005096;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
}

.c-tourForm__text {
  color: #383838;
  line-height: 21px;
  margin-right: 61px;
}

.c-tourForm__text--guide {
  color: #005096;
  line-height: 24px;
  margin: 40px 0 0 64px;
}

.c-tourForm__label {
  color: #898989;
  margin-bottom: 13px;
  line-height: 1.6;
}

.c-tourForm__label--full {
  max-width: none;
}

.c-tourForm__label--guide {
  margin-bottom: 7px;
}

.c-tourForm__label--black {
  color: #383838;
}

.c-tourForm__selectWrapper {
  position: relative;
}

.c-tourForm__selectWrapper .select2-container {
  width: 100%!important;
}

.c-tourForm__input,.c-tourForm__input--number,.c-tourForm__input--small,.c-tourForm__selectCustom {
  width: 100%;
  outline: 0;
  font-size: 1em;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-tourForm__selectWrapper--guide {
  margin-bottom: 15px;
}

.c-tourForm__selectCustom {
  border-radius: 3px;
  color: #7c7c7c;
  cursor: pointer;
}

.c-tourForm__input,.c-tourForm__input--number,.c-tourForm__input--small {
  padding: 8px 14px 9px 15px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  color: #212121;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
  height: 35px;
}

.c-tourForm__linkLabel,.c-tourForm__photoRemove {
  -webkit-transition: all .3s ease-out;
  cursor: pointer;
  font-weight: 700;
}

.c-tourForm__input--number:-ms-input-placeholder,.c-tourForm__input--small:-ms-input-placeholder,.c-tourForm__input:-ms-input-placeholder {
  color: #ddd;
}

.c-tourForm__input--number:-moz-placeholder,.c-tourForm__input--small:-moz-placeholder,.c-tourForm__input:-moz-placeholder {
  color: #ddd;
}

.c-tourForm__input--number::-moz-placeholder,.c-tourForm__input--small::-moz-placeholder,.c-tourForm__input::-moz-placeholder {
  color: #ddd;
}

.c-tourForm__input--number::-webkit-input-placeholder,.c-tourForm__input--small::-webkit-input-placeholder,.c-tourForm__input::-webkit-input-placeholder {
  color: #ddd;
}

.c-tourForm__input--number:focus,.c-tourForm__input--small:focus,.c-tourForm__input:focus {
  border: 1px solid #00bad4;
}

.c-tourForm__input--calendar {
  border: 1px solid #e9e9e9;
  background: url(../img/icon/calendar-select.svg) right 3% center no-repeat #f7f7f7;
  padding-right: 50px;
}

.c-tourForm__input--small {
  width: 110px;
  padding: 8px;
}

.c-tourForm__input--number {
  width: 40px;
  padding: 8px;
}

.c-tourForm__uploadWrapper {
  display: inline-block;
}

.c-tourForm__link {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.c-tourForm__linkLabel {
  display: inline-block;
  position: relative;
  fill: #005096;
  color: #005096;
  font-size: 1em;
  padding: 11px 17px 10px 40px;
  border-radius: 3px;
  border: 1px solid #005096;
  transition: all .3s ease-out;
}

.c-tourForm__linkLabel:hover {
  fill: #00bad4;
  color: #00bad4;
  border: 1px solid #00bad4;
}

.c-tourForm__iconUpload {
  position: absolute;
  top: 9px;
  left: 15px;
  height: 18px;
  width: 18px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  overflow: hidden;
}

.c-tourForm__linkInfo {
  display: inline-block;
}

.c-tourForm__linkTitle {
  display: inline-block;
  margin-left: 40px;
}

.c-tourForm__doubleInputs,.c-tourForm__inputGroup {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -webkit-box-pack: justify;
}

.c-tourForm__linkCancel {
  fill: #47cde0;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.c-tourForm__imgWrapper {
  position: relative;
  margin: 34px -20px 0;
  border: 2px solid #00bad4;
  width: 1200px;
  height: 450px;
}

.c-tourForm__imgWrapper--result {
  position: relative;
  margin-top: 34px;
  text-align: center;
}

.c-tourForm__imgWrapper--result img {
  border: 2px solid #00bad4;
}

.c-tourForm__img {
  width: 100%;
  height: auto;
}

.c-tourForm__imgButtonWrapper {
  background: #f7f7f7;
  margin: 0 -20px;
  text-align: center;
}

.c-tourForm__imgButton {
  text-transform: none;
  margin: 50px 0 30px;
}

/*///////////////////////////////////////////////*/
/* fileinput styles */
.tourPictures {
  padding: 10px;
}

.tourPictures__frame {
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  text-align: center;
}

.tourPictures__footer {
  font-family: GothamPro, "Open Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

.tourPictures__name {
  color: #898989;
  margin: 15px 0 5px;
}

.tourPictures__size {
  color: #C6C6C6;
  margin-bottom: 15px;
}

/*///////////////////////////////////////////////*/

.c-tourForm__photoRemove {
  border-radius: 3px;
  border: 1px solid #005096;
  color: #005096;
  font-family: GothamPro,"Open Sans",sans-serif;
  background: #fff;
  padding: 12px 13px;
  transition: all .3s ease-out;
}

.c-tourForm__photoRemove::-moz-focus-inner {
  border: 0;
}

.c-tourForm__photoRemove:hover {
  color: #00bad4;
  border: 1px solid #00bad4;
}

.c-tourForm__photoRemove:hover .c-tourForm__photoRemoveImg {
  fill: #00bad4;
}

.c-tourForm__photoRemoveImg {
  height: 19px;
  width: 19px;
  fill: #005096;
  vertical-align: bottom;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-right: 5px;
}

.c-tourForm__photoBrowse {
  border-radius: 3px;
  border: 1px solid #00bcd4;
  color: #fff;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-weight: 700;
  background: #00bcd4;
  padding: 10px 13px 12px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.c-tourForm__photoBrowse::-moz-focus-inner {
  border: 0;
}

.c-tourForm__photoBrowseImg {
  height: 21px;
  width: 21px;
  fill: #fff;
  vertical-align: text-bottom;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-right: 5px;
}

.c-tourForm__iconTime {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  fill: #00bcd4;
  position: relative;
  top: 7px;
}

.c-tourForm__inputGroup {
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.c-tourForm__inputGroup .c-tourForm__input {
  margin-right: 17px;
  width: 150px;
}

.c-tourForm__textarea {
  resize: none;
  margin-bottom: 32px;
  height: 100px;
}

/*////////////////////// styles of multipleInputs //////////////////////*/

.c-tourForm__multipleInputs tfoot tr > td:first-child,
.c-tourForm__multipleInputs--time tfoot tr > td:first-child,
.c-tourForm__GuideContent tfoot tr > td:first-child,
.c-tourForm__groupWrapper tfoot tr > td:first-child {
  display: none;
}

.c-tourForm__item td:first-child {
  width: 100%;
  padding: 0 0 9px 0;
}

.c-tourForm__item td:first-child div {
  position: relative;
  padding-left: 30px;
}

.c-tourForm__item td:first-child div:first-child:before {
  content: '';
  background: black;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 41%;
  left: 10px;
}

.c-tourForm__remove {
  color: #00bcd4;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.c-tourForm__remove:hover {
  color: #00e2ff;
}

.c-tourForm__multipleInputs--time tbody td:nth-child(2) {
  width: 100%;
}

/* Guides and dates block */

.c-tourForm__GuideContent .c-tourForm__item td:first-child div {
    position: relative;
    padding-left: 0;
}

.c-tourForm__GuideContent .c-tourForm__item td:first-child div:first-child:before {
    display: none;
}

.c-tourForm__GuideContent label {
    display: block;
    color: #898989;
    margin-bottom: 7px;
    line-height: 1.6;
}

.c-tourForm__GuideContent .c-tourForm__item td:first-child > div:nth-child(2) {
    padding-top: 7px;
}

.c-tourForm__GuideContent .multiple-input-list.list-renderer .list-cell__button,
.c-tourForm__groupWrapper .multiple-input-list.list-renderer .list-cell__button {
    width: 100%;
    text-align: left;
}

.c-tourForm__GuideContent .c-tourForm__item {
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #c6c6c6;
    padding: 28px 61px 28px 31px;
    margin-bottom: 15px;
}

.c-tourForm__GuideContent .multiple-input-list {
    width: 100%;
}

.c-tourForm__GuideContent .c-tourForm__remove {
    position: absolute;
    right: 15px;
    top: 15px;
}


/* Groups styles */
.c-tourForm__groupWrapper tbody td div {
    display: inline-block;
}

.c-tourForm__groupWrapper .c-tourForm__item td:first-child div {
    position: relative;
    padding-left: 0;
}

.c-tourForm__groupWrapper .c-tourForm__item td:first-child div:first-child:before {
    display: none;
}

.c-tourForm__groupWrapper .c-tourForm__item {
    display: block;
    position: relative;
    margin-top: 18px;
    border: 1px solid #c6c6c6;
    padding: 25px 15px;
}

.c-tourForm__groupWrapper .c-tourForm__item td:first-child {
    padding: 0;
}

.c-tourForm__groupWrapper .multiple-input-list.list-renderer .form-group {
    margin-bottom: 0 !important; /* in multiple-input css important */
}

.c-tourForm__groupWrapper label {
    color: #898989;
    line-height: 34px;
    margin-right: 8px;
}

.c-tourForm__groupWrapper .c-tourForm__remove {
    position: absolute;
    right: 10px;
    top: 5px;
}

.c-tourForm__groupWrapper .c-tourForm__add {
    margin-bottom: 40px;
}


/*////////////////////////////////////////////////////////////////////////*/


.c-tourForm__list {
  margin-left: 25px;
}

.c-tourForm__list--noList {
  margin-left: 0;
}

.c-tourForm__item {
  list-style-type: disc;
  padding-left: 9px;
  margin-bottom: 6px;
}

.c-tourForm__item--noList {
  padding-left: 0;
}

.c-tourForm__item--noList:first-child {
  margin-right: 5px;
}

.c-tourForm__add {
  display: inline-block;
  color: #00bcd4;
  border-bottom: 1px solid #00bcd4;
  margin-top: 9px;
  cursor: pointer;
  -webkit-transition: .3s color ease-out;
  transition: .3s color ease-out;
}

.c-tourForm__add--noList {
  margin: 0;
}

.c-tourForm__add--guide {
  margin-left: 116px;
}

.c-tourForm__add:active,.c-tourForm__add:focus,.c-tourForm__add:hover {
  color: #00e2ff;
}

.c-tourForm__blockWrapper {
  margin-bottom: 40px;
}

.c-tourForm__doubleInputs {
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.c-tourForm__checkbox,.c-tourForm__checkboxBlock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -webkit-box-pack: justify;
}

.c-tourForm__doubleInputs .c-tourForm__item--noList:first-child {
  width: 200px;
}

.c-tourForm__doubleInputs .c-tourForm__item--noList:last-child {
  width: 100%;
}

.c-tourForm__checkbox {
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-tourForm__checkboxWrapper {
  margin-right: 56px;
}

.c-tourForm__checkboxWrapper input[type=checkbox] {
  display: none;
}

.c-tourForm__checkboxWrapper input[type=checkbox]:checked+label:after {
  background: #00bcd4;
}

.c-tourForm__checkboxWrapper input[type=checkbox]+label {
  color: #383838;
  font-family: GothamPro,"Open Sans",sans-serif;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.c-tourForm__checkboxWrapper input[type=checkbox]+label:after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #7c7c7c;
  vertical-align: top;
  -webkit-transition: .2s background ease-out;
  transition: .2s background ease-out;
}

.c-tourForm__checkboxEl .form-group {
    display: inline-block;
}

.c-tourForm__checkboxGroup {
  margin: 30px 0 10px;
}

.c-tourForm__checkboxGroup input[type=checkbox] {
  display: none;
}

.c-tourForm__checkboxGroup input[type=checkbox]:checked+label:after {
  background: #00bcd4;
}

.c-tourForm__checkboxGroup input[type=checkbox]+label {
  color: #898989;
  font-family: GothamPro,"Open Sans",sans-serif;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.c-tourForm__checkboxGroup input[type=checkbox]+label:after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #7c7c7c;
  vertical-align: middle;
  -webkit-transition: .2s background ease-out;
  transition: .2s background ease-out;
}

.c-tourForm__Guide {
  margin-top: 37px;
}

.c-tourForm__GuideContent {
  width: 80%;
  margin: 0 auto;
}

.c-tourForm__GuideContent:not(first-child) {
  margin-top: 15px;
}

.c-tourForm__checkboxBlock {
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.c-tourForm__currency {
  color: #383838;
}

.c-tourForm__groupWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.c-tourForm__addWrapper {
  margin-bottom: 40px;
}

.c-tourForm__pickUpIcon {
  width: 25px;
  height: 25px;
  fill: #00bcd4;
  position: relative;
  top: 8px;
  margin-right: 7px;
}

.c-tourForm__pickUp .c-tourForm__text {
  margin-bottom: 30px;
}

.c-tourForm__pickUp .c-tourForm__checkboxWrapper {
  margin: 0 0 30px;
}

.c-tourForm__map {
  height: 660px;
  border: 2px solid #00bcd4;
  position: relative;
  margin-top: 30px;
}

.c-tourForm__mapButtonWrapper {
  background: #f7f7f7;
  text-align: center;
}

.c-mapForm {
  border: 1px solid #bababa;
  background: #fff;
  padding: 36px 30px 30px;
  width: 330px;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-mapForm__title {
  color: #00bad4;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.c-mapForm__label {
  color: #898989;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.6;
}

.c-mapForm__input,.c-mapForm__select {
  font-size: 14px;
  font-family: GothamPro,"Open Sans",sans-serif;
  width: 100%;
  outline: 0;
}

.c-mapForm__label:not(first-child) {
  margin-top: 19px;
}

.c-mapForm__input {
  padding: 8px 14px 9px 15px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  color: #212121;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-mapForm__input:-ms-input-placeholder {
  color: #ddd;
}

.c-mapForm__input:-moz-placeholder {
  color: #ddd;
}

.c-mapForm__input::-moz-placeholder {
  color: #ddd;
}

.c-mapForm__input::-webkit-input-placeholder {
  color: #ddd;
}

.c-mapForm__input:focus {
  border: 1px solid #00bad4;
}

.c-mapForm__select {
  border-radius: 3px;
  color: #7c7c7c;
  cursor: pointer;
  height: 31px;
  border: 1px solid #e9e9e9;
  padding-left: 15px;
}

.c-mapForm__textarea {
  resize: none;
  margin-bottom: 22px;
  height: 80px;
}

.c-mapForm__buttonGroup {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.c-mapForm__buttonGroup button {
  padding: 10px 23px 12px;
}

.c-mapForm__buttonGroup button:first-child {
  width: 42%;
}

.c-mapForm__selectWrapper .select2-container {
  width: 100%!important;
}

.l-addTour .current-info,.l-addTour .number,.l-addTour .title {
  display: none;
}

.l-addTour .steps {
  margin: 100px 0 30px;
  text-align: center;
}

.l-addTour .steps li {
  display: inline-block;
  text-transform: uppercase;
}

.l-addTour .steps li:last-child:after {
  display: none;
}

.l-addTour .steps li .l-addTour__checkedIcon {
  height: 34px;
  width: 34px;
  fill: #ddd;
  position: relative;
  top: 10px;
}

.l-addTour .steps li:after {
  content: '';
  display: inline-block;
  background: #ddd;
  height: 2px;
  width: 70px;
  vertical-align: super;
  margin: 0 10px;
}

.l-addTour .steps li a {
  pointer-events: none;
  display: inline-block;
  color: #ddd;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  outline: 0;
}

.l-addTour .steps .current:after,.l-addTour .steps .done:after {
  background: #00bad4;
}

.l-addTour .steps .current a,.l-addTour .steps .done a {
  color: #00bad4;
}

.l-addTour .steps .current .l-addTour__checkedIcon,.l-addTour .steps .done .l-addTour__checkedIcon {
  fill: #00bad4;
}

.l-addTour .actions ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 65px;
  position: relative;
}

.l-addTour .actions ul li {
  display: inline-block;
}

.l-addTour .actions ul li:first-child a {
  background-color: #fff;
  color: #005096;
  border: 1px solid #005096;
}

.l-addTour .actions ul li:first-child a:hover {
  background-color: #fff;
  color: #00e2ff;
  border: 1px solid #00e2ff;
}

.l-addTour .actions ul li:nth-child(2) {
  position: absolute;
  right: 0;
}

.l-addTour .actions ul li a {
  display: block;
  width: 170px;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: #005096;
  border-radius: 3px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  outline: 0;
}

.l-addTour .actions ul li a:hover {
  background-color: #00e2ff;
}

/*# sourceMappingURL=addTour.css.map */
