.l-tools__form {
  display: inline-block;
}

.l-tools__header {
  text-align: center;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__header {
  padding: 3em 0 0;
}

.l-tools__form {
  max-width: 30.875em;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-confirmSignUp {
  font-size: 1rem;
}

.c-confirmSignUp__header {
  color: #303942;
  font-size: 1em;
  font-weight: 700;
}

.c-confirmSignUp__body {
  margin-top: 2em;
}

.c-confirmSignUp__inputBlock {
  display: inline-block;
  position: relative;
  margin-bottom: 1.125em;
}

.c-confirmSignUp__input {
  padding: .7857em 0 .7857em 2.5em;
  width: 237px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 1em;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-confirmSignUp__input:-ms-input-placeholder {
  color: #212121;
}

.c-confirmSignUp__input:-moz-placeholder {
  color: #212121;
}

.c-confirmSignUp__input::-moz-placeholder {
  color: #212121;
}

.c-confirmSignUp__input::-webkit-input-placeholder {
  color: #212121;
}

.c-confirmSignUp__input:focus {
  border: 1px solid #00bad4;
}

.c-confirmSignUp__icon {
  max-width: 1em;
  max-height: 1em;
  position: absolute;
  top: 17px;
  left: 5%;
  fill: #9b9b9b;
}

.c-confirmSignUp__buttonWrap {
  margin: 0.7em auto 1.3em;
}

.c-confirmSignUp__footer {
  margin-top: 1.9375em;
}

.c-confirmSignUp__question {
  display: inline-block;
  color: #303942;
  font-size: .875em;
  font-weight: 700;
}

.c-confirmSignUp__question--link {
  text-transform: uppercase;
  color: #00bcd4;
  text-decoration: none;
}

.c-confirmSignUp__text {
  margin: 25px 0 30px;
  font-size: 16px;
  color: #005096;
  font-weight: 700;
  line-height: 1.4;
}

/*# sourceMappingURL=confirmSignUp.css.map */
