.l-tools__form {
  display: inline-block;
}

.c-logIn__forgotLink {
  text-decoration: none;
}

.l-tools__header {
  text-align: center;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__header {
  padding: 3em 0 0;
}

.l-tools__form {
  max-width: 16.875em;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-logIn__icon,.c-logIn__img {
  max-width: 1em;
  max-height: 1em;
}

.c-logIn {
  font-size: 1rem;
}

.c-logIn__header {
  color: #303942;
  font-size: 1em;
  font-weight: 700;
}

.c-logIn__body {
  margin-top: 2em;
}

.c-logIn__inputBlock {
  margin-bottom: 1.125em;
  position: relative;
}

.c-logIn__input {
  padding: .7857em 0 .7857em 2.5em;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 1em;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-logIn__input:-ms-input-placeholder {
  color: #212121;
}

.c-logIn__input:-moz-placeholder {
  color: #212121;
}

.c-logIn__input::-moz-placeholder {
  color: #212121;
}

.c-logIn__input::-webkit-input-placeholder {
  color: #212121;
}

.c-logIn__input:focus {
  border: 1px solid #00bad4;
}

.c-logIn__icon {
  position: absolute;
  top: 14px;
  left: 5%;
  fill: #9b9b9b;
}

.c-logIn__rememberBlock {
  float: left;
}

.c-logIn__forgotBlock {
  float: right;
}

.c-logIn__check {
  display: block;
  cursor: pointer;
}

.c-logIn__checkIn {
  display: none;
}

.c-logIn__checkbox {
  width: .714em;
  height: .714em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  border: 1px solid #7c7c7c;
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);

}

.c-logIn__label {
  display: inline-block;
  vertical-align: middle;
  color: #7c7c7c;
  font-size: .714em;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-logIn__forgotLink {
  color: #00bcd4;
  font-size: .714em;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.c-logIn__forgotLink:hover {
  color: #00e2ff;
}

.c-logIn__buttonWrap {
  margin: 1.875em auto 0;
}

.c-logIn__separator {
  margin: 1.875em auto;
  color: #303942;
  font-size: 1em;
  font-weight: 700;
}

.c-signUp__button {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: .6875em 1.25em;
  min-width: 90%;
  margin: 0 auto 1em;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.c-signUp__button--facebook {
  background: #415a99;
}

.c-signUp__button--facebook:hover {
  background: #0a4699;
}

.c-signUp__button--google {
  background: #ff4734;
}

.c-signUp__button--google:hover {
  background: red;
}

.c-signUp__img {
  max-width: 1em;
  max-height: 1em;
  display: inline-block;
  vertical-align: top;
  fill: #fff;
}

.c-signUp__description {
  margin-left: .25em;
  display: inline-block;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-logIn__footer {
  margin-top: 1.9375em;
}

.c-logIn__question {
  display: inline-block;
  color: #303942;
  font-size: .875em;
  font-weight: 700;
}

.c-logIn__question--link {
  text-transform: uppercase;
  color: #00bcd4;
  text-decoration: none;
}

.c-logIn__checkIn:checked+.c-logIn__checkbox:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00bcd4;
}

/*# sourceMappingURL=logIn.css.map */
