.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
  text-decoration: none;
}

.c-breadCrumbs__icon,.c-breadCrumbs__link {
  vertical-align: middle;
  display: inline-block;
}

.c-breadCrumbs__link,.c-payment__input {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
}

.c-orderDetails__title {
  color: #005096;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.c-orderDetails__block {
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  padding: 24px 33px 13px 26px;
  margin-top: 20px;
}

.c-orderDetails__block:last-child {
  margin-bottom: 155px;
}

.c-orderDetails__header {
  width: 90%;
  color: #898989;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.c-orderDetails__header--black {
  color: #535353;
}

.c-orderDetails__body {
  margin-top: 36px;
  display: none;
}

.c-orderDetails__textBlock {
  margin: 10px 0 34px;
  padding-bottom: 37px;
  border-bottom: 1px solid #ddd;
}

.c-orderDetails__textBlock>.c-orderDetails__text--gray {
  display: block;
  margin-top: 10px;
}

.c-orderDetails__textBlock>.c-orderDetails__text--gray:last-child {
  float: none;
}

.c-orderDetails__text--black {
  color: #535353;
  font-weight: 700;
  margin-bottom: 5px;
}

.c-orderDetails__text--gray {
  color: #383838;
}

.c-orderDetails__text--gray:last-child {
  float: right;
}

.c-orderDetails__text--lightblue {
  color: #00bad4;
  font-weight: 700;
}

.c-orderDetails__row {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.c-orderDetails__dots {
  background: url(/img/order/dotsOrder.png) bottom 3px center repeat-x;
  width: 100%;
  position: absolute;
  height: 4px;
  bottom: 0;
  z-index: 1;
}

.c-orderDetails__dotsText {
  position: relative;
  z-index: 2;
  background-color: #f7f7f7;
}

.c-orderDetails__priceBlock {
  margin-top: 10px;
}

.c-orderDetails__totalPrice {
  margin: 25px 0;
}

.c-orderDetails__totalText {
  color: #535353;
  font-size: 21px;
  text-transform: uppercase;
}

.c-orderDetails__totalSum {
  color: #00bad4;
  font-size: 21px;
  font-weight: 700;
}

.c-orderDetails__detailsBlock {
  text-decoration: underline;
  text-align: center;
}

.c-orderDetails__details {
  color: #00bcd4;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.c-orderDetails__details:hover {
  color: #00e2ff;
}

.c-orderDetails__footer {
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}

.c-orderDetails__footer:hover .c-orderDetails__toggleIcon {
  fill: #00e2ff;
}

.c-orderDetails__toggleIcon {
  height: 23px;
  width: 23px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: #00bad4;
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear;
}

.c-orderDetails__toggleIcon--rotate {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.c-payment {
  font-size: 14px;
}

.c-payment__leftSide {
  float: left;
  width: 73%;
  padding-right: 15px;
}

.c-payment__rightSide {
  width: 27%;
  padding-left: 15px;
  float: right;
}

.c-payment__title {
  color: #383838;
  margin-bottom: 37px;
}

.c-payment__inputGroup {
  margin-bottom: 39px;
}

.c-payment__inputColumn--left,.c-payment__inputColumn--right {
  width: 48%;
}

.c-payment__inputColumn--left {
  float: left;
}

.c-payment__inputColumn--right {
  margin-left: 52%;
}

.c-payment__inputLabel {
  color: #898989;
  margin-bottom: 10px;
}

.c-payment__input {
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 9px 14px 10px;
  color: #383838;
}

.c-payment__input:focus {
  border: 1px solid #00bad4;
}

.c-payment__input:-ms-input-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-payment__input:-moz-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-payment__input::-moz-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-payment__input::-webkit-input-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-payment__error {
  margin-top: 5px;
  color: #005096;
  font-weight: 700;
}

.c-payment__payIcon {
  width: 31px;
  height: 31px;
  margin-bottom: 9px;
  margin-left: 5px;
}

.c-payment__payIcon:first-child {
  margin-left: 0;
}

.c-payment__warning {
  color: #383838;
  background: url(/img/icon/danger.svg) left center no-repeat;
  background-size: 30px;
  margin: 26px 0 40px;
  padding-left: 40px;
  line-height: 32px;
}

.c-payment__priceBlock {
  display: inline-block;
}

.c-payment__priceText {
  color: #383838;
  line-height: 21px;
  margin-bottom: 5px;
}

.c-payment__priceSeparator,.c-payment__priceText--lightblue {
  color: #00bad4;
  font-weight: 700;
}

.c-payment__priceText--black {
  font-weight: 700;
}

.c-payment__priceSeparator {
  display: inline-block;
  margin: 0 5px;
}

.c-payment__totalText {
  color: #535353;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}

.c-payment__totalPrice {
  color: #00bad4;
  font-size: 21px;
  font-weight: 700;
}

.c-payment__bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 60px;
}

.c-payment__bottom .c-payment__rightSide {
  float: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.c-payment__buttonWrapper {
  text-align: center;
  margin-bottom: 100px;
}

.c-fakeSteps {
  margin: 100px 0 30px;
  text-align: center;
}

.c-fakeSteps__item {
  display: inline-block;
  text-transform: uppercase;
}

.c-fakeSteps__text {
  display: inline-block;
  color: #ddd;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.c-fakeSteps__text:after {
  content: '';
  display: inline-block;
  background: #ddd;
  height: 2px;
  width: 70px;
  vertical-align: super;
  margin: 0 10px;
}

.c-fakeSteps .active {
  color: #00bad4;
}

.c-fakeSteps .active:after {
  background: #00bad4;
}

.c-fakeSteps__icon {
  height: 34px;
  width: 34px;
  fill: #ddd;
  position: relative;
  top: 10px;
}

/*# sourceMappingURL=orderPay.css.map */
