.c-breadCrumbs__link,.c-breadCrumbs__link:hover,.c-fakeSteps__text {
  text-decoration: none;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
  vertical-align: middle;
}

.c-orderGreetings {
  text-align: center;
  margin-bottom: 250px;
}

.c-orderGreetings__title {
  color: #005096;
  font-size: 35px;
  font-weight: 700;
  margin: 80px 0 35px;
  text-transform: uppercase;
}

.c-orderGreetings__text {
  color: #383838;
  font-size: 18px;
  margin: 0 auto 85px;
  width: 65%;
  line-height: 27px;
}

.c-fakeSteps {
  margin: 100px 0 30px;
  text-align: center;
}

.c-fakeSteps__item {
  display: inline-block;
  text-transform: uppercase;
}

.c-fakeSteps__text {
  display: inline-block;
  color: #ddd;
  font-size: 18px;
  font-weight: 700;
}

.c-fakeSteps__text:after {
  content: '';
  display: inline-block;
  background: #ddd;
  height: 2px;
  width: 70px;
  vertical-align: super;
  margin: 0 10px;
}

.c-fakeSteps .active {
  color: #00bad4;
}

.c-fakeSteps .active:after {
  background: #00bad4;
}

.c-fakeSteps__icon {
  height: 34px;
  width: 34px;
  fill: #ddd;
  position: relative;
  top: 10px;
}

.c-fakeSteps__icon.active {
  fill: #00bad4;
}

/*# sourceMappingURL=orderGreetings.css.map */
