.c-supplierProfile__item {
    margin-bottom: 34px;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
    text-decoration: none;
}

.c-breadCrumbs__icon,.c-breadCrumbs__link {
    vertical-align: middle;
    display: inline-block;
}

.l-tools {
    padding: .357em 0 .429em;
    background: #f8f8f8;
    font-size: 1rem;
}

.l-tools__content {
    padding: .5em 0;
}

.l-tools__leftPart {
    float: left;
}

.c-breadCrumbs {
    font-size: 1rem;
    display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
    display: none;
}

.c-breadCrumbs__link {
    color: #535353;
    font-size: 1em;
    font-family: GothamPro,"Open Sans",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color .2s linear .1s;
    transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
    color: #303942;
}

.c-breadCrumbs__arrow {
    display: inline-block;
    text-align: center;
}

.c-breadCrumbs__icon {
    width: 100%;
    max-width: .5em;
    max-height: .5em;
    fill: #535353;
}

.c-bookings__item {
    margin-bottom: 34px;
}

.c-bookings__header {
    width: 100%;
    margin-bottom: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #535353;
    font-size: 14px;
}

.c-bookings__chat,.c-bookings__download {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 2px;
}

.c-bookings__download {
    margin-right: 31px;
    color: #005096;
    border-bottom: 1px solid #005096;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-bookings__download .c-bookings__icon {
    width: 13px;
    height: 13px;
    fill: #005096;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-bookings__download:hover {
    color: #00e2ff;
    border-bottom: 1px solid #00e2ff;
}

.c-bookings__download:hover .c-bookings__icon {
    fill: #00e2ff;
}

.c-bookings__chat {
    color: #00bcd4;
    border-bottom: 1px solid #00bcd4;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-bookings__chat .c-bookings__icon {
    width: 13px;
    height: 13px;
    fill: #00bcd4;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    vertical-align: top;
}

.c-bookings__chat:hover {
    color: #00e2ff;
    border-bottom: 1px solid #00e2ff;
}

.c-bookings__chat:hover .c-bookings__icon {
    fill: #00e2ff;
}

.c-bookings__dots {
    float: right;
    margin-bottom: 120px;
}

/*# sourceMappingURL=bookings.css.map */
