.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
  text-decoration: none;
}

.c-breadCrumbs__icon,.c-breadCrumbs__link,.c-profileForm__sup--info {
  vertical-align: middle;
}

.c-breadCrumbs__link,.c-profileForm__input,.c-profileForm__select {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-breadCrumbs__arrow {
  text-align: center;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
}

.c-rating__leftInner.is-active {
  fill: #00bcd4;
}

.c-rating__leftInner--transparent.is-active {
  fill: #fff;
}

.c-rating__leftBorder.is-active {
  fill: #00bcd4;
}

.c-rating__leftBorder--transparent.is-active {
  fill: #fff;
}

.c-rating__rightInner.is-active {
  fill: #00bcd4;
}

.c-rating__rightInner--transparent.is-active {
  fill: #fff;
}

.c-rating__rightBorder.is-active {
  fill: #00bcd4;
}

.c-rating__rightBorder--transparent.is-active {
  fill: #fff;
}

.c-rating--whiteEmptyStar .c-rating__leftInner.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__leftBorder.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightInner.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightBorder.is-active {
  fill: #00bcd4;
}

.c-profileForm {
  font-size: 1rem;
}

.c-profileForm__leftPart {
  width: 49%;
  float: left;
}

.c-profileForm__rightPart {
  width: 49%;
  float: right;
}

.c-profileForm__list {
  padding: 0;
  margin: 0;
}

.c-profileForm__item {
  width: 100%;
  position: relative;
}

.c-profileForm__item:not(:first-child) {
  margin-top: 20px;
}

.c-profileForm__item #date {
  background: url(../img/icon/calendar-select.svg) right 3% center no-repeat #f7f7f7;
  border: 1px solid #e9e9e9;
}

.c-profileForm__input {
  width: 100%;
  padding: 9px 14px 10px 15px;
  height: 36px;
  outline: 0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 14px;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-profileForm__input:focus {
  border: 1px solid #00bad4;
}

.c-profileForm__label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #7c7c7c;
  font-size: 1em;
  z-index: -5;
  overflow: hidden;
  -webkit-transition: text-indent .2s linear .1s;
  transition: text-indent .2s linear .1s;
}

.c-profileForm__label.is-active {
  z-index: 5;
}

.c-profileForm__sup {
  color: red;
}

.c-profileForm__select {
  width: 100%;
  outline: 0;
  background: url(../img/icon/down-arrow-select.svg) right 3% center no-repeat #f7f7f7;
  border-radius: 3px;
  color: #7c7c7c;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.c-profileForm__option {
  margin: .25em;
  cursor: pointer;
  -webkit-transition: all .1s linear .1s;
  transition: all .1s linear .1s;
}

.c-profileForm__option:first-child {
  display: none;
}

.c-profileForm__info {
  margin-top: .5em;
}

.c-profileForm__infoText {
  display: inline-block;
  margin-left: -.25em;
  color: #7c7c7c;
  font-size: .75em;
}

.c-profileForm__buttonWrap {
  margin-top: 3.571em;
  text-align: center;
}

.c-profileForm__buttonWrap--smallBlock {
  width: 49%;
  text-align: left;
}

/*# sourceMappingURL=profileSettings.css.map */
