.c-breadCrumbs,.l-recentlyViewed__definition,.l-recentlyViewed__number {
  display: inline-block;
}

.c-breadCrumbs__link {
  font-family: GothamPro,"Open Sans",sans-serif;
  text-decoration: none;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
  text-decoration: none;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.l-recentlyViewed {
  padding-bottom: 3em;
  font-size: 1rem;
}

.l-recentlyViewed__head {
  color: #005096;
  font-size: 1.3125em;
  font-weight: 700;
}

.l-recentlyViewed__amount {
  color: #7c7c7c;
  font-size: .875em;
}

.l-recentlyViewed__definition {
  margin-top: .75em;
}

.l-recentlyViewed__tours {
  margin: 2em 0 0;
}

.l-recentlyViewed__tour:not(:first-child) {
  margin: 1em 0;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs {
  font-size: 1rem;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
  vertical-align: middle;
}

/*# sourceMappingURL=recentlyViewed.css.map */
