.l-tools__form {
  display: inline-block;
}

.l-tools__header {
  text-align: center;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__header {
  padding: 3em 0 0;
}

.l-tools__form {
  max-width: 30.875em;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-resetPassword {
  font-size: 1rem;
  margin-bottom: 1.4em;
}

.c-resetPassword__header {
  color: #303942;
  font-size: 1em;
  font-weight: 700;
}

.c-resetPassword__body {
  margin-top: 2em;
}

.c-resetPassword__inputBlock {
  margin-bottom: 1.125em;
  position: relative;
}

.c-resetPassword__input {
  padding: .7857em 0 .7857em 2.5em;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 1em;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-resetPassword__input:-ms-input-placeholder {
  color: #212121;
}

.c-resetPassword__input:-moz-placeholder {
  color: #212121;
}

.c-resetPassword__input::-moz-placeholder {
  color: #212121;
}

.c-resetPassword__input::-webkit-input-placeholder {
  color: #212121;
}

.c-resetPassword__input:focus {
  border: 1px solid #00bad4;
}

.c-resetPassword__icon {
  max-width: 1em;
  max-height: 1em;
  position: absolute;
  top: 14px;
  left: 5%;
  fill: #9b9b9b;
}

.c-resetPassword__buttonWrap {
  margin: 1.875em auto 1.3em;
}

.c-resetPassword__text {
  margin: 25px 0 30px;
  font-size: 16px;
  color: #005096;
  font-weight: 700;
  line-height: 1.4;
}

/*# sourceMappingURL=restorePassword.css.map */
