

.c-breadCrumbs__link,.c-tabs {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover,.c-tabs__link {
  text-decoration: none;
}

.c-breadCrumbs__icon,.c-breadCrumbs__link {
  vertical-align: middle;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-breadCrumbs__arrow,.c-tabs__list {
  text-align: center;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
}

.c-reviews__button {
  font-weight: 700;
  text-transform: uppercase;
}

.c-tabs {
  margin-bottom: 150px;
}

.c-tabs__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.c-reviews,.c-tabs__link {
  background-color: #f7f7f7;
}

.c-tabs__link {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #00bcd4;
}

.c-reviews__imageTitle,.c-reviews__input {
  color: #7c7c7c;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-tabs--reviews {
  position: relative;
  top: 12px;
  margin-bottom: 0;
}

.c-tabs--reviews .c-tabs__list {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.c-reviews {
  padding: 33px 15px 37px 31px;
  border: 1px solid #e9e9e9;
  margin-top: 15px;
}

.c-reviews__tour {
  margin: 15px 0;
  text-decoration: none;
}

.c-reviews__tour:first-child {
  margin-top: 0;
}

.c-reviews__leftSide {
  width: 65%;
  float: left;
}

.c-reviews__rightSide {
  width: 32%;
  float: right;
}

.c-reviews__input {
  display: block;
  width: 100%;
  padding: 12px 21px;
  margin-bottom: 16px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  outline: 0;
  font-size: 14px;
  resize: none;
  line-height: 21px;
}

.c-reviews__textarea {
  height: 335px;
  padding: 19px 20px;
}

.c-reviews__imageTooltip {
  font-family: GothamPro,"Open Sans",sans-serif;
  color: #c6c6c6;
  margin: 10px 0 20px;
}

.c-reviews__uploadWrapper {
  display: inline-block;
  min-height: 365px;
}

.c-reviews__linkLabel {
  display: inline-block;
  position: relative;
  fill: #005096;
  color: #005096;
  background: none;
  font-size: 1em;
  font-family: GothamPro,"Open Sans",sans-serif;
  padding: 11px 17px 12px 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #005096;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-bottom: 10px;
}

.c-reviews__linkLabel:hover {
  fill: #00bad4;
  color: #00bad4;
  border: 1px solid #00bad4;
}

.c-reviews__link {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.c-reviews__iconAttach {
  position: absolute;
  top: 9px;
  left: 15px;
  height: 18px;
  width: 18px;
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  overflow: hidden;
}

.c-reviews__uploadText {
  color: #c6c6c6;
}

.c-reviews__button {
  background: #005096;
  border-radius: 3px;
  font-family: GothamPro,"Open Sans",sans-serif;
  color: #fff;
  border: none;
  float: right;
  padding: 14px 30px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.c-reviews__button:hover {
  background-color: #00e2ff;
}

.c-reviews__photos {
  margin: 30px 0 41px;
  height: 202px;
}

.c-profileForm__label.is-active {
  z-index: 5;
}

.c-reviews__tour .c-tour__buttonWrap {
  position: absolute;
  bottom: 40%;
}

.c-reviews__tour .star .c-rating__icon {
  width: 25px;
  height: 25px;
  vertical-align: top;
}

.c-reviews .caption .label {
  font-family: GothamPro, "Open Sans", sans-serif;
  font-size: 24px;
  margin-left: 15px;
}

.c-reviews .help-block {
  font-family: GothamPro, "Open Sans", sans-serif;
  color: #005096;
  font-weight: 700;
  position: relative;
  bottom: 15px;
}

.reviewsPictures__frame {
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
}

.reviewsPictures__footer {
  font-family: GothamPro, "Open Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

.reviewsPictures__name {
  color: #898989;
  margin: 15px 0 5px;
}

.reviewsPictures__size {
  color: #C6C6C6;
  margin-bottom: 15px;
}

.c-reviews__content {
  border: 1px solid #c6c6c6;
  padding: 13px 15px;
  margin-bottom: 15px;
}

.c-reviews__info {
  margin: 7px auto 15px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-reviews__date {
  color: #7c7c7c;
  font-size: 11px;
}

.c-reviews__images {
  margin-top: 15px;
  text-align: justify;
}

.c-reviews__photo {
  width: auto;
  height: 95px;
  margin-bottom: 5px;
}

/*# sourceMappingURL=reviews.css.map */
