.c-bookingForm__tabLink,.c-booking__link,.c-comment__head,.c-comment__link,.c-comment__name,.c-listing__link,.c-locationTabs__link,.c-locationTabs__tooltip,.c-person__button,.c-rating__country__link,.c-tabNav__point,.c-tour__head,.c-tour__readMore:hover {
  text-decoration: none;
}

.l-newLocation {
  font-size: 1rem;
  background: #fff;
}

.l-newLocation__header {
  padding: 1.8125em 0 0;
}

.l-newLocation__body {
  padding-bottom: 2.375em;
}

.l-newLocation__head {
  color: #383838;
  font-size: 2.571em;
  font-weight: 700;
  text-transform: uppercase;
}

.l-newLocation__rating {
  margin-top: 1em;
}

.l-newLocation__leftPart {
  width: 75%;
  float: left;
}

.l-newLocation__rightPart {
  width: 25%;
  position: relative;
  top: -189px;
  float: right;
}

.l-newLocation__rightPartBlocks {
  width: 25%;
  float: right;
}

.l-newLocation__tabs {
  margin-top: 4.143em;
}

.l-newLocation__tours {
  margin-top: 1.5em;
}

.l-newLocation__tour {
  margin-right: 10px;
}

.l-newLocation__tour:last-child {
  margin-bottom: 15px;
}

.l-newLocation__tour:not(:last-child) {
  margin-bottom: 1em;
}

.is_stuck {
  position: fixed;
  top: 0;
  z-index: 102;
  background: #00bcd4;
}

.sticky {
  position: fixed;
  z-index: 105;
}

.stop {
  position: relative;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-rating {
  font-size: 12px;
}

.c-rating__stars {
  display: inline-block;
  margin: 0 .25em 0 0;
}

.c-rating__star {
  display: inline-block;
  text-align: center;
  margin: 0 2px;
}

.c-rating__icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-transition: all .2s linear .1s;
  transition: all .2s linear .1s;
}

.c-rating__leftInner.is-active {
  fill: #00bcd4;
}

.c-rating__leftInner--transparent.is-active {
  fill: #fff;
}

.c-rating__leftBorder.is-active {
  fill: #00bcd4;
}

.c-rating__leftBorder--transparent.is-active {
  fill: #fff;
}

.c-rating__rightInner.is-active {
  fill: #00bcd4;
}

.c-rating__rightInner--transparent.is-active {
  fill: #fff;
}

.c-rating__rightBorder.is-active {
  fill: #00bcd4;
}

.c-rating__rightBorder--transparent.is-active {
  fill: #fff;
}

.c-rating__value {
  display: inline-block;
  color: #7c7c7c;
  font-size: 14px;
}

.c-rating--whiteEmptyStar .c-rating__leftInner.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__leftBorder.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightInner.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightBorder.is-active {
  fill: #00bcd4;
}

.c-rating__reviews {
  display: inline-block;
  margin-left: 1.5em;
  color: #7c7c7c;
  font-size: 1em;
}

.c-rating__reviews__number {
  display: inline-block;
}

.c-rating__reviews__text {
  display: inline-block;
  font-size: 1em;
}

.c-rating__reviews--null {
  margin: 0 auto;
}

.c-rating__country {
  display: inline-block;
  margin-left: 1.5em;
}

.c-rating__country__link {
  color: #005096;
  font-size: 1.167em;
}

.c-photosHover {
  position: relative;
  top: 460px;
}

.c-photosHover__thumbnails {
  display: inline-block;
  position: relative;
  top: 15px;
  margin-left: 28px;
}

.c-photosHover__thumbnail {
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  padding: 3px;
  margin-right: 7px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.c-photosHover__thumbnail:hover {
  background: 0 0;
}

.c-photosHover__photo {
  width: 66px;
  height: 41px;
}

.c-time {
  font-size: 1rem;
  color: #00bcd4;
}

.c-time__clock,.c-time__text {
  display: inline-block;
  font-size: 1em;
}

.c-time__img {
  display: inline-block;
  text-align: center;
}

.c-time__icon {
  width: 100%;
  max-width: 1em;
  max-height: 1em;
  display: inline-block;
  vertical-align: middle;
  fill: #00bcd4;
}

.c-time__clock {
  font-weight: 700;
}

.c-tabNav {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-tabNav__list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.c-tabNav__point {
  padding: 18px 0;
  display: block;
  background: #00bcd4;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: background .2s linear .1s,color .3s linear .1s;
  transition: background .2s linear .1s,color .3s linear .1s;
  outline: 0;
}

.c-tabNav__point:hover {
  background: #005096;
  color: #fff;
}

.c-locationTabs {
  font-size: 1rem;
}

.c-locationTabs__content {
  padding: 0 7.1em 0 0;
  border-bottom: none;
}

.c-locationTabs__footer {
  margin-top: 62px;
}

.c-locationTabs__block {
  min-width: 24.9375em;
  margin: 0 auto 45px;
  vertical-align: top;
}

.c-locationTabs__block--wrapper {
  width: 80%;
}

.c-locationTabs__headArticle {
  margin: 1em 0 .5em;
  color: #00bcd4;
  font-size: 1.5em;
  font-weight: 700;
}

.c-locationTabs__listBlock .c-locationTabs__item,.c-locationTabs__listBlock--right .c-locationTabs__item {
  margin-left: 16px;
  list-style-type: disc;
}

.c-locationTabs__icon {
  width: 25px;
  height: 25px;
  fill: #00bcd4;
  position: relative;
  top: 8px;
  margin-right: 7px;
}

.c-locationTabs__inlineItems>div {
  margin-right: 60px;
}

.c-locationTabs__listBlock--noMarkers .c-locationTabs__item:before,.c-locationTabs__listColumns .c-locationTabs__item:before {
  content: "";
  margin-right: 0;
}

.c-locationTabs__inlineItems>div:last-child {
  margin-right: 0;
}

.c-locationTabs__inlinelistName--cashGreen,.c-locationTabs__inlinelistName--cashLocal,.c-locationTabs__inlinelistName--credit {
  display: inline-block;
  padding-left: 40px;
  padding-bottom: 10px;
}

.c-locationTabs__inlinelistName--cashGreen {
  background: url(/img/payments/notes.png) left 5px no-repeat;
}

.c-locationTabs__inlinelistName--credit {
  background: url(/img/payments/credit-card.png) left 5px no-repeat;
}

.c-locationTabs__inlinelistName--cashLocal {
  background: url(/img/payments/cashLocal.png) left 5px no-repeat;
}

.c-locationTabs__img {
  max-height: 220px;
  max-width: 385px;
}

.c-locationTabs__listBlock {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.c-locationTabs__listBlock--right {
  float: right;
  width: 50%;
}

.c-locationTabs__listBlock--noMarkers .c-locationTabs__item {
  margin: 0;
}

.c-locationTabs__list {
  margin-left: 5px;
}

.c-locationTabs__list .c-locationTabs__item {
  list-style-type: disc;
  margin-left: 12px;
}

.c-locationTabs__list .c-locationTabs__item:last-child {
  margin-bottom: 20px;
}

.c-locationTabs__listText--guide,.c-locationTabs__listText--pin {
  padding-left: 40px;
  margin-top: 15px;
}

.c-locationTabs__listText--pin {
  background: url(/img/icon/pin.svg) left center no-repeat;
}

.c-locationTabs__listText--guide {
  background: url(/img/icon/guide.svg) left center no-repeat;
  line-height: 30px;
}

.c-locationTabs__listColumns {
  width: 49%;
  display: inline-block;
  vertical-align: text-top;
}

.c-locationTabs__listColumns--wrapper {
  width: 75%;
}

.c-locationTabs__listColumns .c-locationTabs__item {
  margin-bottom: 20px;
}

.c-locationTabs__listColumns .c-locationTabs__item:last-child {
  margin-bottom: 10px;
}

.c-locationTabs__tooltip {
  display: inline-block;
  font-size: 11px;
  color: #00bcd4;
  position: relative;
  top: -10px;
  line-height: 1.5;
}

.c-locationTabs__tooltip:hover .c-locationTabs__tooltipText {
  visibility: visible;
  opacity: 1;
}

.c-locationTabs__tooltipText {
  width: 275px;
  padding: 17px 32px 17px 17px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  position: absolute;
  bottom: 195%;
  left: 50%;
  margin-left: -60px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  background-color: #fff;
  color: #7c7c7c;
  font-size: 11px;
}

.c-locationTabs__tooltipText:after,.c-locationTabs__tooltipText:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 21%;
  width: 0;
  height: 0;
}

.c-locationTabs__tooltipText:before {
  margin-left: -10px;
  border-top: 10px solid #e9e9e9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.c-locationTabs__tooltipText:after {
  margin-left: -8px;
  border-top: 8px solid #FFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.c-locationTabs__textBlock {
  margin: 1em 0;
}

.c-locationTabs__textBlock:first-child {
  margin-top: 1.643em;
}

.c-locationTabs__inlinelistName--cashGreen,.c-locationTabs__inlinelistName--cashLocal,.c-locationTabs__inlinelistName--credit,.c-locationTabs__listName {
  padding-top: 1.143em;
  margin-bottom: .5em;
  color: #383838;
  font-size: 1em;
  font-weight: 700;
}

.c-locationTabs__item {
  margin: 6px 0;
  color: #383838;
  font-size: 14px;
  line-height: 1.5;
}

.c-locationTabs__text, .c-locationTabs__textTeaser, .c-locationTabs__textComplete {
  color: #383838;
  font-size: 1.071em;
  line-height: 1.5;
  display: inline-block;
}

.c-locationTabs__textTeaser {
  display: inline;
}

.c-locationTabs__textComplete {
  display: none;
}

.completeText {
  display: inline;
}

.c-locationTabs__time {
  color: #005096;
  font-size: 1.071em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.c-locationTabs__map {
  width: 100%;
  min-height: 30em;
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
}

.c-locationTabs__mapWrap {
  float: left;
  width: 100%;
}

.c-tour__body,.c-tour__header {
  border: 1px solid #00bcd4;
  float: left;
}

.c-locationTabs__link {
  color: #00bcd4;
  font-size: .875em;
}

.c-locationTabs__link--reviews {
  font-size: .571em;
  color: #00bcd4;
  font-weight: 400;
  position: relative;
  top: -3px;
  margin-left: 15px;
}

.c-locationTabs__comments {
  margin-top: 30px;
  margin-bottom: 55px;
}

.c-locationTabs__textMore {
  display: block;
  color: #00bcd4;
  cursor: pointer;
}

.c-bookingForm__content,.c-tour__footer {
  text-align: center;
}

.c-tour {
  font-size: 1rem;
}

.c-tour__content {
  height: 13.025em;
}

.c-tour__header {
  height: 100%;
  width: 30%;
  position: relative;
}

.c-tour__img {
  width: 100%;
  min-width: 16.4375em;
  height: 100%;
  display: inline-block;
}

.c-tour__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: bottom,0,100% #00deff;
  opacity: .2;
  -webkit-transition: opacity .2s linear .1s,bottom .3s linear .1s;
  transition: opacity .2s linear .1s,bottom .3s linear .1s;
}

.c-tour__body {
  height: 100%;
  padding: 1%;
  width: 47%;
  position: relative;
  border-right: 0;
  border-left: 0;
}

.c-tour__head {
  margin-bottom: 10px;
  color: #005096;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333;
}

.c-tour__text {
  color: #005096;
  font-size: 1em;
  line-height: 1.1;
  margin-top: 10px;
}

.c-tour__text--lightColor {
  font-size: 1em;
  color: #00bcd4;
}

.c-tour__textRight {
  margin-top: 0;
  color: #005096;
}

.c-tour__readMore {
  color: #00bcd4;
  text-decoration: none;
}

.c-tour__info {
  width: 95%;
  position: absolute;
  bottom: 7.5%;
}

.c-tour__leftPart {
  float: left;
}

.c-tour__rightPart {
  float: right;
}

.c-tour__footer {
  height: 100%;
  width: 23%;
  padding: .875em;
  position: relative;
  float: left;
  border: 1px solid #00bcd4;
}

.c-tour__price {
  color: #005096;
  font-size: 1.286em;
  font-weight: 700;
}

.c-tour__bookBlock {
  margin-top: 1.3125em;
}

.c-tour__book {
  color: #00bcd4;
  font-size: 2em;
  font-weight: 700;
}

.c-tour__buttonWrap {
  margin-top: .75em;
}

.c-bookingForm {
  font-size: 14px;
}

.c-bookingForm__header {
  padding-bottom: 17px;
  background: #fff;
  font-size: 12px;
  border: 1px solid #00bcd4;
  border-bottom: none;
}

.c-bookingForm__wrapper {
  background: #00bcd4;
  padding: 13px 0 12px;
}

.c-bookingForm__body {
  padding-bottom: 28px;
  border: 1px solid #00bcd4;
  border-top: none;
}

.c-bookingForm__text {
  margin: 6px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.c-bookingForm__text--span {
  color: #005096;
}

.c-bookingForm__number {
  margin-top: 12px;
  color: #00bcd4;
  font-size: 48px;
  font-weight: 700;
}

.c-bookingForm__number--right,.c-bookingForm__number--rightBlue {
  color: #005096;
  font-size: 30px;
  font-weight: 700;
  margin-top: 14px;
  text-align: right;
}

.c-bookingForm__number--rightBlue {
  color: #00bcd4;
}

.c-bookingForm__info {
  padding: 8px 28px;
  background: #005096;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
}

.c-bookingForm__head,.c-bookingForm__head--blue {
  margin: 20px 0 9px;
  color: #005096;
  font-size: 14px;
  font-weight: 700;
  font-family: GothamPro, "Open Sans", sans-serif;
}

.c-bookingForm__head--blue {
  position: relative;
  color: #00bcd4;
}

.c-bookingForm__head--small {
  font-size: 12px;
  color: #005096;
}

.c-bookingForm__head--smallBlue {
  color: #00bcd4;
  font-size: 12px;
}

.c-bookingForm__tooltip {
  position: absolute;
  right: -3px;
  top: 8px;
  color: #fff;
  background-color: #00bcd4;
  font-size: 10px;
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px;
}

.c-bookingForm__tooltip:hover .c-bookingForm__tooltipText {
  visibility: visible;
  opacity: 1;
}

.c-bookingForm__tooltipText {
  width: 275px;
  padding: 17px 32px 17px 17px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  position: absolute;
  bottom: 195%;
  right: -57px;
  margin-left: -60px;
  z-index: 25;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  background-color: #fff;
  color: #7c7c7c;
  font-size: 11px;
  font-weight: 400;
}

.c-bookingForm__tooltipText:after,.c-bookingForm__tooltipText:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 20%;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
}

.c-bookingForm__tooltipText:before {
  margin-left: -10px;
  border-top: 10px solid #e9e9e9;
  border-left: 10px solid transparent;
}

.c-bookingForm__tooltipText:after {
  margin-left: -8px;
  border-top: 8px solid #FFF;
  border-left: 8px solid transparent;
}

.c-bookingForm__tooltipText .c-bookingForm__head {
  margin: 0 0 7px;
}

.c-bookingForm__tooltipText .c-bookingForm__number--right {
  margin-top: 5px;
}

.js-bookingForm__wrapper {
  display: none;
}

.c-bookingForm__tool {
  padding: 0 17px;
  text-align: left;
  display: block;
}

.c-bookingForm__tool--wrapperBlue {
  border-bottom: 1px solid #005096;
  padding-bottom: 14px;
}

.c-bookingForm__tool--wrapperBlue {
  border-bottom: 1px solid #00bcd4;
}

.c-bookingForm__tool--leftPart {
  float: left;
  width: 72%;
  position: relative;
}

.c-bookingForm__tool--rightPart {
  float: right;
  width: 28%;
}

.c-bookingForm__tool--disabled {
  pointer-events: none;
}

.c-bookingForm__tool--disabled .c-bookingForm__head {
  color: #ddd;
}

.c-bookingForm__tool--disabled .c-bookingForm__select {
  border: 1px solid #ddd;
}

.c-bookingForm__tool--disabled .c-bookingForm__select--date {
  background-image: url(/img/icon/calendarGray.svg);
}

.c-bookingForm__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
}

.c-bookingForm__numberBlock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  border-radius: 41%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #535353;
  font-size: 14px;
  font-family: GothamPro,"Open Sans",sans-serif;
  text-align: center;
  padding: 1px 12px 2px;
  margin-right: 18px;
  line-height: 1.4;
}

.c-bookingForm__quantity,.c-bookingForm__quantity--minus,.c-bookingForm__quantity--plus {
  border: none;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-weight: 700;
}

.c-bookingForm__quantity {
  color: #005096;
  font-size: 14px;
  background-color: transparent;
  width: 20px;
  text-align: center;
  height: 100%;
  margin: 0 4px;
}

.c-bookingForm__quantity--minus,.c-bookingForm__quantity--plus {
  display: inline-block;
  background: 0 0;
  cursor: pointer;
  font-size: 17px;
  color: #c6c6c6;
  padding: 4px;
  outline: 0;
}

.c-bookingForm__quantity--minus::-moz-focus-inner,.c-bookingForm__quantity--plus::-moz-focus-inner {
  border: 0;
}

.c-bookingForm__select {
  width: 100%;
  padding: 6px 14px 6px 10px;
  display: inline-block;
  text-align: left;
  position: relative;
  outline: 0;
  border: 1px solid #00bcd4;
  color: #535353;
  font-size: 14px;
  font-family: GothamPro,"Open Sans",sans-serif;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #fff;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  -ms-appearance: none;
  -webkit-appearance: none!important;
  appearance: none!important;
  cursor: pointer;
}

.c-bookingForm__select::-moz-focus-inner {
  border: 0;
}

.c-bookingForm__select--date {
  background-image: url(/img/icon/calendarBlue.svg);
  background-position: right 3px center;
  margin-bottom: 9px;
  padding: 8px 14px 8px 10px;
}

.c-bookingForm__tool--disabled .c-bookingForm__select--date::placeholder {
  color: #dddddd;
}

.c-bookingForm__option {
  margin: .25em;
  cursor: pointer;
  -webkit-transition: all .1s linear .1s;
  transition: all .1s linear .1s;
}

.c-bookingForm__option:first-child {
  display: none;
}

.c-bookingForm__buttonWrap {
  margin-top: 1em;
}

.c-bookingForm__tabList {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.c-bookingForm__tab {
  width: 100%;
}

.c-bookingForm__tab.ui-state-active .c-bookingForm__tabLink {
  color: #fff;
  background-color: #00bcd4;
}

.c-bookingForm__tabLink {
  display: block;
  color: #bababa;
  font-size: 14px;
  font-weight: 700;
  background-color: #f7f7f7;
  padding: 11px 0;
  border-bottom: 2px solid #00bcd4;
}

.c-bookingForm__modal {
  position: relative;
}

.c-bookingForm__modalWindow {
  position: absolute;
  left: 17px;
  right: 17px;
  z-index: 11;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #00bcd4;
  border-top: none;
}

.c-bookingForm__modalHead {
  color: #005096;
  font-size: 16px;
  font-family: GothamPro, "Open Sans", sans-serif;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.c-bookingForm__selectedText {
  line-height: 20px;
  height: 20px;
  font-family: GothamPro, "Open Sans", sans-serif;
}

.c-bookingForm__selectedIcon {
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 33px;
  height: 33px;
}

.c-bookingForm__selectedIcon--rotated {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hide {
  display: none;
}

.c-booking {
  font-size: 1rem;
}

.c-booking__content {
  width: 100%;
  margin-top: 10px;

}

.c-booking__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0 17px;
}

.c-booking__wishlist {
  display: block;
  text-align: center;
  border: 1px solid #8a8a8a;
  padding: 12px 0;
  border-radius: 4px;
  -webkit-transition: fill .3s ease-out;
  -o-transition: fill .3s ease-out;
  transition: fill .3s ease-out
}

.c-booking__wishlist:hover {
  border: 1px solid #00bcd4;
}

.c-booking__wishlist.is-active {
  color: #00bcd4;
  border: 1px solid #00bcd4;
}

.c-booking__wishlist.is-active .c-booking__icon {
  fill: #00bcd4;
}

.c-booking__link {
  color: #898989;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: fill .3s ease-out;
  -o-transition: fill .3s ease-out;
  transition: fill .3s ease-out
}

.c-booking__link:hover {
  color: #00bcd4;
}

.c-booking__icon {
  fill: #8a8a8a;
  width: 17px;
  height: 17px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}

.c-booking__holiday {
  margin-bottom: 15px;
}

.c-booking__holiday:first-child {
  margin-top: 20px;
}

.c-booking__link:hover .c-booking__icon {
  fill: #00bcd4;
}

.c-booking__social {
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.c-booking__socialLink {
  margin: 0 7px;
  display: inline-block;
}

.c-booking__socialLink svg {
  height: 35px;
  width: 35px;
  fill: #8a8a8a;
  -webkit-transition: fill .3s ease-out;
  -o-transition: fill .3s ease-out;
  transition: fill .3s ease-out
}

.c-booking__socialLink svg:hover {
  fill: #00bcd4;
}

.c-comment {
  font-size: 1rem;
}

.c-comment__wrapper {
  border: 1px solid #c6c6c6;
  padding: 13px 15px 20px 0;
  margin-bottom: 15px;
}

.c-comment__likeWrapper {
  display: block;
  text-align: right;
}

.c-comment__rightWrapper {
  margin-left: 28%;
  position: relative;
}

.c-comment__head {
  color: #383838;
  font-size: 16px;
  font-weight: 700;
}

.c-comment__name {
  color: #005096;
  font-size: 21px;
  font-weight: 700;
}

.c-comment__icon {
  height: 25px;
  width: 25px;
  fill: #00bcd4;
  -webkit-transition: fill .1s linear .1s;
  transition: fill .1s linear .1s;
}

.c-comment__icon:hover {
  fill: #00e3ff;
}

.c-comment__info {
  margin: 7px auto 28px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-comment__date {
  color: #7c7c7c;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: 0;
}

.c-comment__text {
  margin: .5em 0 0;
  color: #383838;
  font-size: 14px;
  line-height: 1.6;
}

.c-comment__link {
  font-family: GothamPro, "Open Sans", sans-serif;
  color: #00bcd4;
  font-size: 14px;
  background: none;
  margin: 5px 0;
  border: none;
  padding-left: 0;
  cursor: pointer;
  outline: none;
}

.c-comment__link:hover {
  color: #00e2ff;
}

.c-comment__photos {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.c-comment__photo {
  width: 17%;
  margin-top: 2%;
}

.c-comment__img {
  width: 100%;
  /*max-height: 4em;*/
  display: inline-block;
}

.c-person {
  font-size: 1rem;
  float: left;
  width: 28%;
}

.c-person__photo {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.c-person__img {
  width: 100%;
  max-width: 7.143em;
  max-height: 7.143em;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.c-person__img--big {
  width: 160px;
  height: 140px;
  max-width: none;
  max-height: none;
}

.c-person__content {
  text-align: center;
}

.c-person__button {
  margin-top: 1.071em;
  padding: 1em 1.214em;
  display: inline-block;
  border: 1px solid #005096;
  border-radius: 3px;
  color: #005096;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  -webkit-transition: fill .2s linear .1s,color .1s linear 0s;
  transition: fill .2s linear .1s,color .1s linear 0s;
}

.c-person__button:hover {
  color: #00bcd4;
  background: 0 0;
  border: 1px solid #00bcd4;
}

.c-blockBottom--listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 14px;
}

.c-blockBottom__rightSide {
  display: inline-block;
}

.c-blockBottom__leftSide {
  display: inline-block;
  padding: 8px 10px;
  background: rgba(255,255,255,.2);
  border-radius: 3px;
  color: #fff;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-size: 11px;
  font-style: italic;
}

.c-blockBottom__price {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
}

.c-blockBottom--listings {
  position: relative;
  top: 75px;
  margin: 0 10px;
}

.c-pickupPoints__form {
  width: 220px;
  padding: 20px 10px 10px;
  border: 1px solid #bababa;
  background: #fff;
}

.c-listing,.c-listing__bg {
  border-radius: 7.5px;
  overflow: hidden;
}

.c-pickupPoints__title {
  color: #005096;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 7px;
}

.c-pickupPoints__guide,.c-pickupPoints__time {
  color: #383838;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.c-pickupPoints__desc {
  color: #383838;
  font-size: 12px;
  text-align: justify;
}

.c-listing__head {
  color: #fff;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-listing__head {
  font-weight: 700;
  text-align: left;
}

.c-listing {
  height: 15em;
  position: relative;
  font-size: 1rem;
}

.c-listing__bg,.c-listing__img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.c-listing--lowHeight {
  height: 12em;
}

.c-listing__link {
  width: 100%;
  height: 100%;
  display: block;
}

.c-listing__bg {
  height: 128%;
  opacity: 1;
  background: -webkit-linear-gradient(top,rgba(0,222,255,.1) 0,rgba(0,168,255,.3) 35%,rgba(105,105,105,.7) 65%,#555 85%);
  background: linear-gradient(to bottom,rgba(0,222,255,.1) 0,rgba(0,168,255,.3) 35%,rgba(105,105,105,.7) 65%,#555 85%);
}

.c-listing__img {
  height: 100%;
  display: inline-block;
}

.c-listing__content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70px;
}

.c-listing__head {
  font-size: 1.286em;
  line-height: 1.4;
}

/*# sourceMappingURL=newLocation.css.map */
