.c-voucher {
    font-family: GothamPro,"Open Sans",sans-serif;
    color: #3b3b3b;
}

.c-voucher__logo {
    width: 115px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.c-voucher__container {
    width: 970px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    padding: 50px 50px 27px;
}

.c-voucher__headerWrapper {
    position: relative;
}

.c-voucher__header {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.c-voucher__idBlock {
    margin-top: 47px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
}

.c-voucher__idContent {
    display: inline-block;
}

.c-voucher__bookingRef {
    margin-top: 7px;
    line-height: 18px;
}

.c-voucher__bookingRef .c-voucher__text--bold {
    margin-bottom: 0;
}

.c-voucher__list {
    list-style-type: disc;
    margin-left: 15px;
}

.c-voucher__listItem {
    font-size: 13px;
    line-height: 24px;
}

.c-voucher__text {
    font-size: 13px;
    margin-bottom: 10px;
}

.c-voucher__text--big {
    color: #3b3b3b;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.c-voucher__text--bold,.c-voucher__text--boldUpper {
    color: #3b3b3b;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.c-voucher__text--boldUpper {
    text-transform: uppercase;
}

.c-voucher__tourName {
    display: inline-block;
    width: 417px;
    font-size: 21px;
    font-weight: 700;
    line-height: 31px;
    margin-left: 52px;
    vertical-align: text-bottom;
}

.c-voucher__block {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
}

.c-voucher__block:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.c-voucher__blockHeader {
    display: inline-block;
    width: 112px;
    vertical-align: top;
    line-height: 20px;
}

.c-voucher__blockBody {
    display: inline-block;
    width: 265px;
    vertical-align: top;
    margin-left: 52px;
}

.c-voucher__blockBody--full {
    display: inline-block;
    width: 695px;
    vertical-align: top;
    margin-left: 52px;
    line-height: 20px;
}

.c-voucher__blockFooter {
    display: inline-block;
    width: 295px;
    vertical-align: top;
    margin-left: 52px;
}

.c-voucher__columns,.c-voucher__columns--small {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 650px;
}

.c-voucher__columns--small {
    width: 500px;
    margin-top: 52px;
}

.c-voucher__column {
    line-height: 1;
    margin-bottom: 10px;
}

.c-voucher__copyright {
    color: #bdbdbd;
    font-size: 10px;
}

/*# sourceMappingURL=voucher.css.map */
